.fingerprint-container {
    width: 200px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0);
    border: 15px solid #ccc;
    margin: 30px auto 0 auto;
    border-radius: 155px;
}

input[type="text"]:disabled, select:disabled, .disabled {
    color: #222 !important;
    background-color: none !important;
    font-weight: bold;
    border: 1px solid #008cba !important;
}

select {
    color: #ccc !important;
}

.active {
    /* color: #333 !important; */
}

#app {
    min-width: 410px !important;
    padding-top: 40px;
}

.feedback {
    margin-top: 8px;
}

.finger-container {
    width: 310px;
    margin: 30px auto;
}

.data-container {
    padding: 25px !important;
}

#fingerprint {
    display: block;
    height: 150px;
    // 310 + 15 (border radius) - 150 / 2
    margin: 74.5px auto;
    opacity: 0.6;
    transition-timing-function: ease;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
}

#fingerprint-image {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    border-radius: 155px;
}

.fingers {
    margin-left: 20px;
    width: 128px;
}

.finger {
    display: block;
    margin: 0 auto;
    width: 128px;
}

.finger-detail {
    font-weight: bold;
    margin-top: 10px;
    font-size: 1.2em
}

.result-msg {
    font-weight: bold;
    margin-top: 10px;
    font-size: 1.2em;
}

.toc-input {
    background-color: rgba(255, 255, 255, .5);
}

p, label {
    color: #333;
}

h1 {
    font-size: 1.5rem;
    color: #333;
}

.feedback {
    padding: 0 60px;
}

.data-container {
    padding-left: 75px!important;
}



#fingerprint {
    display: block;
    height: 120px;
    // 270 + 15 (border radius) - 120 / 2
    margin: 65.5px auto 0 auto;
}

.finger-container {
    width: 270px;
    margin: 30px auto;
}

.finger, .fingers {
    width: 111px;
}

.loader {
    width: 50px;
    display: block;
    margin: auto;

}

.mr20 {
    margin-right: 20px;
}

.ml12 {
    margin-left: 12px;
}

.center {
    text-align: center;
}

.btn-oscuro {
    color: #ffffff;
    background-color: #656565;
    border-color: #cccccc;
    margin-left: 100px;
}

.btn-oscuro:hover {
    background-color: #444444;
    color: white;
}
.btn-oscuro:focus {
    background-color: #444444;
    color: white;
}


.dedoUsado {
    display: block;
    height: 80px;
    margin: 15px auto 0;
}

.carousel-caption h4 {
    font-size:      1.5em;
    color:          #333 !important;
}


.finger-image{
 height: 120px;
 margin: 10px auto 0 auto;
}

/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}
}

.nist_1{
color:#366F20 ;
}
.nist_2{
color: #7EA82E ;
}
.nist_3{
 color: #a99f20;
}
.nist_4{
 color: #9C3C3C ;
}
.nist_5{
 color: #D91414;
}
